<!DOCTYPE html>
<html>
    <head>
        <title class="title">Name It! - Categories</title>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">CATEGORIES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        CATEGORY 1:
                        <input type=text>
                    </td>
                </tr>
                <tr>
                    <td>CATEGORY 2:</td>
                </tr>
                <tr>
                    <td>CATEGORY 3:</td>
                </tr>
                <tr>
                    <td>CATEGORY 4:</td>
                </tr>
                <tr>
                    <td>CATEGORY 5:</td>
                </tr>
                <tr>
                    <td>CATEGORY 6:</td>
                </tr>
                <tr>
                    <td>CATEGORY 7:</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>