<!DOCTYPE html>
<html>
    <head>
        <title>Name It! - Categories</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="2">CATEGORIES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ONE</td>
                    <td>TWO</td>
                    <td>THREE</td>
                    <td>FOUR</td>
                    <td>FIVE</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>